annotated-types
anyio
argostranslate
av
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
coloredlogs
confection
cryptography
ctranslate2
cymem
duckdb
emoji
et_xmlfile
exceptiongroup
faster-whisper
filelock
flatbuffers
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
humanfriendly
idna
Jinja2
joblib
llvmlite
MarkupSafe
minisbd
mpmath
murmurhash
networkx
numba
numexpr
numpy
onnxruntime
openpyxl
oracledb
packaging
pandas
pandas-stubs
pi
preshed
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic_core
pydeps
pyreadline3
python-dateutil
pytz
PyYAML
regex
requests
sacremoses
sentencepiece
shellingham
six
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
srt
stanza
stdlib-list
sympy
thinc
tokenizers
tomli
torch
tqdm
typer-slim
types-pytz
typing-inspection
typing_extensions
tzdata
urllib3
vertica-python
wasabi
weasel
wrapt
